@import "tailwindcss";
@import "tw-animate-css";
@import "../styles/_variables.scss";
@import "../styles/_keyframe-animations.scss";

@layer base {
  body  {
    font-family: var(--font-cascadia-mono), var(--font-plus-jakarta-sans), sans-serif;
  }
}

/* globals.css or a module */
/* .h1-styrene {
  font-family: var(--font-styreneBoldItalic, "Styrene A Trial"), var(--font-cascadia-mono), sans-serif;
  color: red;
} */




input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #00000000 inset !important;
  -webkit-text-fill-color: #fff !important;
  caret-color: #fff !important;
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  display: none;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}
/* border
text
disabled text
icons
lighter icons
orange card top to bottom
blue card
green card
green card
yellow card
frosted edit bg -137 deg
white book top to bottom
E3E2E2
252525
717070
252525
C8C8C7
FFD591 to  FFA941
FFD591 to  FFA941
91D4FE to  40A8FF
B6EB8F to  72D23B
FFF491 to  FFDE41
E9E9E9 to  FFFFFF
FAFAFA to  E6E6E6
stroke - 1 E3E2E2
0.5 stroke E3E2E2
0.5 stroke C8C8C7
inner shadow - blur :18, FFFFFF 78%
text - CCCCCC */
:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #1e232b;
  --card: #ffffff;
  --card-foreground: #1e232b;
  --popover: #ffffff;
  --popover-foreground: #1e232b;
  --primary: #3984e6;
  --primary-foreground: #fcfcfc;
  --secondary: #fafaff;
  --secondary-foreground: #3984e6;
  --muted: #fafaff;
  --muted-foreground: #788ca4;
  --accent: #fafaff;
  --accent-foreground: #3984e6;
  --destructive: #e14747;
  --border: #e3e2e2;
  --input: #ededef;
  --ring: #6eb1fc;
  --chart-1: #e0973e;
  --chart-2: #62a3c9;
  --chart-3: #435bc9;
  --chart-4: #e1e245;
  --chart-5: #d8c34c;
  --sidebar: #fcfcfc;
  --sidebar-foreground: #1e232b;
  --sidebar-primary: #3984e6;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #fafaff;
  --sidebar-accent-foreground: #3984e6;
  --sidebar-border: #ededef;
  --sidebar-ring: #6eb1fc;
}

.dark {
  --background: #1e232b;
  --foreground: #fcfcfc;
  --card: #3984e6;
  --card-foreground: #fcfcfc;
  --popover: #3984e6;
  --popover-foreground: #fcfcfc;
  --primary: #ededef;
  --primary-foreground: #3984e6;
  --secondary: #353c44;
  --secondary-foreground: #fcfcfc;
  --muted: #353c44;
  --muted-foreground: #6eb1fc;
  --accent: #353c44;
  --accent-foreground: #fcfcfc;
  --destructive: #e88e65;
  --border: #ffffff1a;
  --input: #ffffff26;
  --ring: #788ca4;
  --chart-1: #675bec;
  --chart-2: #42c3b1;
  --chart-3: #d8c34c;
  --chart-4: #556eee;
  --chart-5: #a58763;
  --sidebar: #3984e6;
  --sidebar-foreground: #fcfcfc;
  --sidebar-primary: #675bec;
  --sidebar-primary-foreground: #fcfcfc;
  --sidebar-accent: #353c44;
  --sidebar-accent-foreground: #fcfcfc;
  --sidebar-border: #ffffff1a;
  --sidebar-ring: #788ca4;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
